.header__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  transition: all 250ms ease-in-out;
  box-sizing: border-box;
  &.filled {
    background: #eb8205;
    transition: all 250ms ease-in-out;
  }
  &.sticky {
    transition: all 250ms ease-in-out;
    background: #eb8205;
    padding: 0px 10px;
    box-shadow: 0px 12px 36px rgba(28, 64, 97, 0.1),
      0px 4px 12px rgba(28, 64, 97, 0.3);
    & .header {
      padding: unset;
      align-items: center;
      min-height: 80px;
      transition: all 250ms ease-in-out;
    }
  }
}

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 35px 0px;
  display: flex;
  justify-content: space-between;
  transition: all 250ms ease-in-out;
  @media (max-width: 428px) {
    padding: 35px 10px;
  }
  & .header__logo {
    width: 140px;
    & img {
      width: 140px;
    }
  }
  & .header__aside {
    & .header__phone-wrapper {
      & .header__phone {
        & a {
          color: #fff;
          font-family: "Inter";
          font-size: 18px;
          font-weight: 600;
          transition: all 0.2s ease-in-out;
          &:hover {
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            color: #eb8205;
          }
        }
      }
    }
    & .header__phone--text {
      margin-top: 10px;
      & a {
        margin-top: 10px;
        color: #fff;
        font-family: "Inter";
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}

.header__inner-wrapper {
  display: flex;
  gap: 30px;
  flex-direction: row;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__navigation ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding-inline-start: 40px;
  li a {
    color: #fff;
    font-family: "Inter";
    text-decoration: none;
    transition: all 250ms ease-in-out;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    &:hover {
      transition: all 250ms ease-in-out;
      color: #fdd7a8;
      cursor: pointer;
    }
  }
}

.header__phone--icon {
  color: #fff;
  margin-right: 5px;
}

.header__phone--number {
  color: #fff;
  text-decoration: none;
}

.header__phone--text {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.header__aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header__phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 250ms ease-in-out;
  &:hover {
    transition: all 250ms ease-in-out;
  }
}

.header__phone-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.burger__nav-wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 428px) {
  .header {
    padding: 35px 10px;
  }
}

@media screen and (max-width: 384px) {
  .header__logo {
    display: flex;
    align-items: center;
    height: 36px;
    & img {
      height: 36px;
    }
  }
}
