<div class="about__anchor" id="about"></div>

<div class="about__wrapper">
  <div class="about">
    <div class="about__content">
      <div class="about__title">
        Мы - российская <span class="highlighted">IT</span>-компания
      </div>
      <div class="about__subtitle">
        Работаем в направлении более 15 лет Знаем задачи и проблемы заказчиков
        Компетенции в продуктах мировых лидеров
      </div>
      <div class="about__button-wrapper">
        <div class="about__button-bg"></div>
        <button class="about__button" appDialog>Оставить заявку</button>
      </div>
    </div>
    <div class="about__keys-content-container">
      <div class="about__keys-bg"></div>
      <div class="about__keys-content"></div>
    </div>
  </div>
</div>
<div class="about__content-bottom-wrapper">
  <div class="about__content-bottom">
    <div class="about__content-bottom__title">
      Контроллер доставки приложений БИТС.БАЛАНС
    </div>
    <div class="about__content-bottom__content">
      Это высокопроизводительный балансировщик нагрузки нового поколения. В
      дополнение к стандартному базовому функционалу для обеспечения доступности
      сервисов и распределения нагрузки БИТС.БАЛАНС предоставляет функционал для
      задач георезервирования GSLB, кэширования, WAF и защиты от DDoS, контроль
      и аудит трафика, пооддержки единого входа SSO. Клиенты подключаются не к
      конечным приложениям, а к контроллерам доставки приложений, тем самым
      обеспечивается высокий уровень безопасности. При создании сессий
      выполняются необходимые проверки безопасности с применением гибких
      настраиваемых правил.
    </div>
  </div>
</div>
