<div class="about__wrapper">
  <div class="about" id="about">
    <div class="about__content">
      <div class="about__title">
        Мы - российская <span class="highlighted">IT</span>-компания
      </div>
      <div class="about__subtitle">
        Работаем в направлении более 15 лет Знаем задачи и проблемы заказчиков
        Компетенции в продуктах мировых лидеров
      </div>
      <div class="about__button-wrapper">
        <div class="about__button-bg"></div>
        <button class="about__button" appDialog>Оставить заявку</button>
      </div>
    </div>
    <div class="about__keys-content-container">
      <div class="about__keys-bg"></div>
      <div class="about__keys-content"></div>
    </div>
  </div>
</div>
