<div class="support__wrapper">
  <div class="support">
    <div class="support__title">Нужна техническая поддержка?</div>
    <div class="support__content">
      Специалисты БИТС.БАЛАНС ответят на обращения и придут на помощь по
      телефону или на портале технической поддержки в удобное для вас время.
    </div>

    <button class="support__button">Узнать больше</button>
  </div>
</div>
<div class="support__items-wrapper">
  <div class="support__item">
    <div class="support__item-title">
      Серьезность <span class="green">1 Критичая</span>
    </div>
    <div class="support__item-description">
      Проблема серьезно влияет на возможность использования ПО в
      производственных целях (например, ведет к неработоспособности рабочих
      систем). Возникшая проблема влечет за собой приостановку операционной
      деятельности Заказчика и не имеет процедурного обходного решения.
    </div>
    <div class="support__item-reaction">
      Реакция : <span class="highlighted">1 час</span>
    </div>
    <div class="support__item-desigion">
      Решение : <span class="highlighted">4 час</span>
    </div>
  </div>
  <div class="support__item">
    <div class="support__item-title">
      Серьезность <span class="yellow">1 Критичая</span>
    </div>
    <div class="support__item-description">
      Проблема серьезно влияет на возможность использования ПО в
      производственных целях (например, ведет к неработоспособности рабочих
      систем). Возникшая проблема влечет за собой приостановку операционной
      деятельности Заказчика и не имеет процедурного обходного решения.
    </div>
    <div class="support__item-reaction">
      Реакция : <span class="highlighted">1 час</span>
    </div>
    <div class="support__item-desigion">
      Решение : <span class="highlighted">4 час</span>
    </div>
  </div>
  <div class="support__item">
    <div class="support__item-title">
      Серьезность <span class="orange">1 Критичая</span>
    </div>
    <div class="support__item-description">
      Проблема серьезно влияет на возможность использования ПО в
      производственных целях (например, ведет к неработоспособности рабочих
      систем). Возникшая проблема влечет за собой приостановку операционной
      деятельности Заказчика и не имеет процедурного обходного решения.
    </div>
    <div class="support__item-reaction">
      Реакция : <span class="highlighted">1 час</span>
    </div>
    <div class="support__item-desigion">
      Решение : <span class="highlighted">4 час</span>
    </div>
  </div>
  <div class="support__item">
    <div class="support__item-title">
      Серьезность <span class="red">1 Критичая</span>
    </div>
    <div class="support__item-description">
      Проблема серьезно влияет на возможность использования ПО в
      производственных целях (например, ведет к неработоспособности рабочих
      систем). Возникшая проблема влечет за собой приостановку операционной
      деятельности Заказчика и не имеет процедурного обходного решения.
    </div>
    <div class="support__item-reaction">
      Реакция : <span class="highlighted">1 час</span>
    </div>
    <div class="support__item-desigion">
      Решение : <span class="highlighted">4 час</span>
    </div>
  </div>
</div>
