<div class="support__wrapper">
  <div class="support">
    <div class="support__title">Нужна техническая поддержка?</div>
    <div class="support__content">
      Специалисты БИТС.БАЛАНС ответят на обращения и придут на помощь по
      телефону или на портале технической поддержки в удобное для вас время.
    </div>

    <a href="https://support.bitsis.ru" target="_blank"
      ><button class="support__button">Портал техподдержки</button></a
    >
  </div>
</div>
<div class="support__items-wrapper">
  <div class="support__item">
    <div class="support__item-title">
      Серьезность <span class="red">1 Критичая</span>
    </div>
    <div class="support__item-description">
      Проблема серьезно влияет на возможность использования ПО в
      производственных целях (например, ведет к неработоспособности рабочих
      систем). Возникшая проблема влечет за собой приостановку операционной
      деятельности Заказчика и не имеет процедурного обходного решения.
    </div>
    <div class="support__item-reaction">
      Реакция : <span class="highlighted">1 час</span>
    </div>
    <div class="support__item-desigion">
      Решение : <span class="highlighted">не более 4 рабочих часов</span>
    </div>
  </div>
  <div class="support__item">
    <div class="support__item-title">
      Серьезность <span class="orange">Высокая</span>
    </div>
    <div class="support__item-description">
      Проблема, при которой ПО сохраняет работоспособность, но возможность
      использовать его в производственных целях существенно снижается. Если
      проблема касается использования ПО в производственных целях, то она
      приводит к серьезному частичному нарушению операционной деятельности
      Заказчика и не имеет обходного решения
    </div>
    <div class="support__item-reaction">
      Реакция : <span class="highlighted">2 часа</span>
    </div>
    <div class="support__item-desigion">
      Решение : <span class="highlighted">не более 2 рабочих дней</span>
    </div>
  </div>
  <div class="support__item">
    <div class="support__item-title">
      Серьезность <span class="yellow">Средняя</span>
    </div>
    <div class="support__item-description">
      Проблема приводит к частичной и некритической утрате возможности
      использовать ПО в производственных целях или в целях разработки. Если
      проблема касается использования ПО в производственных целях, то она имеет
      низкое или среднее влияние на операционную деятельность, но не лишает
      Заказчика возможности продолжать работу (возможно с использованием
      процедурного обходного решения).
    </div>
    <div class="support__item-reaction">
      Реакция : <span class="highlighted">4 часа</span>
    </div>
    <div class="support__item-desigion">
      Решение : <span class="highlighted">не более 5 рабочих дней</span>
    </div>
  </div>
  <div class="support__item">
    <div class="support__item-title">
      Серьезность <span class="green">Низкая</span>
    </div>
    <div class="support__item-description">
      Общие вопросы по использованию ПО, сообщения об ошибках в документации или
      пожелания по доработке и улучшению ПО. Если проблема касается
      использования ПО в производственных целях, то она имеет низкое или нулевое
      влияние на операционную деятельность Заказчика, производительность или
      работу систем. Если проблема касается использования ПО в целях разработки,
      то она имеет низкое или среднее влияние на операционную деятельность, но
      не лишает Заказчика возможности продолжать работу (возможно с
      использованием процедурного обходного решения.
    </div>
    <div class="support__item-reaction">
      Реакция : <span class="highlighted">1 рабочий день</span>
    </div>
    <div class="support__item-desigion">
      Решение : <span class="highlighted">не более 10 рабочих дней</span>
    </div>
  </div>
</div>
