<div class="hero__wrapper">
  <div class="hero">
    <h1 class="hero__title">Масштабирование и надежность</h1>
    <p class="hero__description">
      Обеспечим гибкую балансировку и распределение нагрузки, масштабирование,
      надежность и георезервирование любых ваших сервисов, любой сложности и в
      любых средах с помощью многофункциональных контроллеров <br /><span
        class="highlighted"
        >БИТС.БАЛАНС.</span
      >
    </p>
    <app-button
      [label]="'Ключевые возможности'"
      (click)="onClickScroll('features')"
    ></app-button>
  </div>
</div>
