<div class="burger-menu" [class.active]="active" (click)="onBurgerClicked()">
  <div class="burger-container">
    <div class="burger-inner"></div>
  </div>
  <div class="overlay">
    <div class="burger__logo"><img src="assets/image/mainlogo.svg" /></div>
    <div class="burger__nav-contacts">
      <a href="tel:+79998399999" class="burger__nav-phone"
        >+ 7 (999) 839-18-20</a
      >
      <p class="burger__nav-time">Ежедневно с 10:00 до 22:00</p>
    </div>

    <ul class="burger__nav">
      <li>
        <a routerLink="/" class="header__navigation-link">Главная</a>
      </li>
      <li>
        <a (click)="onClickScroll('about')" class="header__navigation-link"
          >О нас</a
        >
      </li>

      <li>
        <a routerLink="/support" class="header__navigation-link"
          >Техподдержка</a
        >
      </li>
      <li>
        <a routerLink="/partners" class="header__navigation-link">Партнерам</a>
      </li>
      <li>
        <a routerLink="/buy" class="header__navigation-link">Как купить</a>
      </li>
      <li>
        <a routerLink="/contacts" class="header__navigation-link">Контакты</a>
      </li>
    </ul>
    <div class="burger__copyright">
      Created by © <a href="https://novikovstudio.ru">NovikovStudio</a>
    </div>
  </div>
</div>
