<div class="buy__wrapper">
  <div class="buy">
    <div class="buy__content">
      <div class="buy__content-title">Как купить?</div>
      <div class="buy__content-subtitle">
        Стоимость базовой лицензии рассчитывается согласно требованиям к
        максимальному общему объему обрабатываемого трафика в секунду.<br /><br />
        Дополнительный функционал лицензируется отдельно.
        <br /><br />Поставляемое ПО включает услуги базовой технической
        поддержки на 1 год. <br /><br />Также возможно приобретение расширенного
        уровня услуг технической поддержки.
      </div>
      <div class="buy__content-request">
        <p class="content__request-text">Связаться с нами</p>
        <div class="buy__button-wrapper">
          <div class="buy__button-bg"></div>
          <button class="buy__button" appDialog>Оставить заявку</button>
        </div>
      </div>
    </div>
    <div class="buy__image"><img src="assets/images/buy-image.png" /></div>
  </div>
</div>
