<div class="footer__wrapper">
  <div class="footer">
    <div class="footer__inner-wrapper">
      <div class="footer__logo"><img src="assets/images/logo.png" /></div>
      <ul class="footer__menu">
        <li><a class="footer__menu-link" href="">menu-1</a></li>
        <li><a class="footer__menu-link" href="">menu-1</a></li>
        <li><a class="footer__menu-link" href="">menu-1</a></li>
        <li><a class="footer__menu-link" href="">menu-1</a></li>
      </ul>
      <div class="footer__social-wrapper">
        <div class="social__wrapper-item">
          <img src="assets/icons/tw.png" />
        </div>
        <div class="social__wrapper-item">
          <img src="assets/icons/tw.png" />
        </div>
        <div class="social__wrapper-item">
          <img src="assets/icons/tw.png" />
        </div>
        <div class="social__wrapper-item">
          <img src="assets/icons/tw.png" />
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      © Copyright 2023, All Rights Reserved by
      <a href="https://novikovstudio.ru">NovikovStudio</a>
    </div>
  </div>
</div>
