<div class="footer__wrapper">
  <div class="footer">
    <div class="footer__inner-wrapper">
      <div class="footer__logo">
        <img src="assets/images/logo-light.png" style="width: 140px" />
      </div>
      <ul class="footer__menu">
        <li>
          <a routerLink="/" class="header__navigation-link">Главная</a>
        </li>
        <li>
          <a routerLink="/support" class="header__navigation-link"
            >Техподдержка</a
          >
        </li>
        <li>
          <a routerLink="/partners" class="header__navigation-link"
            >Партнерам</a
          >
        </li>
      </ul>
      <div class="footer__social-wrapper">
        <div class="social__wrapper-item">
          <img src="assets/icons/tw.png" />
        </div>
        <div class="social__wrapper-item">
          <img src="assets/icons/tw.png" />
        </div>
        <div class="social__wrapper-item">
          <img src="assets/icons/tw.png" />
        </div>
        <div class="social__wrapper-item">
          <img src="assets/icons/tw.png" />
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      © Copyright 2023, All Rights Reserved by
      <a href="https://novikovstudio.ru">NovikovStudio</a>
    </div>
  </div>
</div>
