<div class="features__wrapper">
  <div class="features">
    <div class="features__title">Ключевые возможности</div>
    <div class="features__subtitle">
      Вступление - пара предложений (будет готово в течение 1-2 дней).
    </div>
    <div class="accordion__module">
      <app-features-item *ngFor="let item of features" title="{{ item.title }}">
        <div
          class="features__item"
          *ngFor="let itemFeatures of item.keys"
          (click)="itemFeatures.activeDialog = !itemFeatures.activeDialog"
        >
          <div class="features__item-title">
            {{ itemFeatures.name }}
          </div>
          <div
            class="features__dialog"
            [class.active]="itemFeatures.activeDialog"
            (click)="$event.stopPropagation()"
          >
            <div class="features__dialog-button">
              <img
                src="assets/icons/open-icon.png"
                (click)="itemFeatures.activeDialog = false"
              />
            </div>
            <img
              class="features__dialog-description"
              [src]="itemFeatures.image"
            />
            <div
              class="features__dialog-overlay"
              (click)="itemFeatures.activeDialog = false"
            ></div>
          </div>
        </div>
      </app-features-item>
    </div>
  </div>
</div>
