<div class="features__wrapper">
  <div class="features">
    <div class="features__title">Ключевые возможности</div>
    <div class="features__subtitle">
      Вступление - пара предложений (будет готово в течение 1-2 дней).
    </div>
    <div class="accordion__module">
      <app-features-item title="Функциональные возможности"
        >test</app-features-item
      >
      <app-features-item title="Режимы работы">test </app-features-item>
      <app-features-item title="Материалы">test </app-features-item>
      <app-features-item title="Производительность и масштабирование"
        >test</app-features-item
      >
      <app-features-item title="Безопасность">test</app-features-item>
      <app-features-item title="Совместимость">test </app-features-item>
    </div>
  </div>
</div>
