<div class="features__wrapper">
  <div class="features">
    <div class="features__title">Ключевые возможности</div>
    <div class="features__subtitle">
      Вступление - пара предложений (будет готово в течение 1-2 дней).
    </div>
    <div class="accordion__module">
      <app-features-item title="Функциональные возможности"
        >W2W предлагает уникальный интерьерный декор. Мы не копируем чужие
        работы. Постоянно находимся в поиске новых интересных решений и
        качественных материалов. Защищаем свои авторские
        права.</app-features-item
      >
      <app-features-item title="Режимы работы"
        >Наши клиенты могут выбрать индивидуальную модель, цветовое решение и
        размер. Кроме того широкий спектр материалов позволит найти оптимальное
        ценовое предложение. Каждое изделие формируется и согласуется в 3D
        формате и далее отправляется в производство. Дополнительно можем
        «визуализировать» Ваше изделие в Вашем интерьере.
      </app-features-item>
      <app-features-item title="Материалы"
        >Производство W2W находится в Москве. Мы располагаем свои собственным
        высокотехнологичным оборудованием : станки ЧПУ, столярный цех,
        покрасочная камера. Все технологические процессы отработаны на разных
        материалах: МДФ, португальская древесная панель, массив дерева.
        Используем только профессиональные итальянские ЛКМ.
      </app-features-item>
      <app-features-item title="Производительность и масштабирование"
        >Команда W2W регулярно проходит стажировки позволяющие внедрять новые
        технологии в производстве интерьерного декора</app-features-item
      >
      <app-features-item title="Безопасность"
        >Прежде чем отправиться к заказчику каждое изделие проходит 8 этапов
        контроля качества. Начиная от создания STL-модели и заканчивая оценкой
        надёжности крепления</app-features-item
      >
      <app-features-item title="Совместимость"
        >С нами сотрудничают такие компании как: Renner, Valchromat, Costamona и
        др.
      </app-features-item>
    </div>
  </div>
</div>
