<div class="form__wrapper">
  <div class="form__image">
    <img src="assets/images/form-img.png" alt="form-image" />
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <div class="contact-form-title">Остались вопросы? Давайте обсудим!</div>
    <p class="contact-form-subtitle">
      Напишите нам в любое время
      <a href="mailto:hi@sellsoft.com">hi@sellsoft.com</a>
    </p>
    <p class="contact-form-subtitle">
      Ваши ответы на вопросы позволят нам корректно направить запрос профильному
      специалисту и сэкономит ваше время.
    </p>
    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="name">Ваше имя:</label>
        <input type="text" id="name" formControlName="name" required />
      </div>

      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
      >
        <div
          *ngIf="contactForm.get('name')?.hasError('required')"
          class="error"
        >
          Заполните имя
        </div>
      </div>
    </div>

    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required />
      </div>

      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
      >
        <div
          *ngIf="contactForm.get('email')?.hasError('required')"
          class="error"
        >
          Email обязателен.
        </div>
        <div *ngIf="contactForm.get('email')?.hasError('email')" class="error">
          Не правильный формат Email.
        </div>
        <div
          *ngIf="contactForm.get('email')?.hasError('invalidEmail')"
          class="error"
        >
          Email должен содержать '@'.
        </div>
      </div>
    </div>

    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="phone">Ваш телефон:</label>
        <input type="tel" id="phone" formControlName="phone" appPhoneMask />
      </div>
      <div
        *ngIf="
          contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched
        "
      >
        <div
          *ngIf="contactForm.get('phone')?.hasError('required')"
          class="error"
        >
          Телефон обязателен.
        </div>
      </div>
    </div>
    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="inn">ИНН:</label>
        <input type="text" id="inn" formControlName="inn" required />
      </div>

      <div
        *ngIf="
          contactForm.get('inn')?.invalid && contactForm.get('inn')?.touched
        "
      >
        <div *ngIf="contactForm.get('inn')?.hasError('required')" class="error">
          ИНН обязателен.
        </div>
        <div *ngIf="contactForm.get('inn')?.hasError('pattern')" class="error">
          Не верный формат ИНН.
        </div>
      </div>
    </div>
    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="city">Город:</label>
        <input type="text" id="city" formControlName="city" />
      </div>
    </div>

    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label for="message">Сообщение:</label>
        <textarea
          id="message"
          formControlName="message"
          id="message"
          type="text"
        ></textarea>
      </div>
    </div>
    <div class="contact-form-item">
      <div class="contact-form-label__group">
        <label>Выберите услугу:</label>
      </div>
      <div class="contact-form-checkboxes">
        <label>
          <input type="checkbox" formControlName="service" />
          <span>Оценка нагрузки</span>
        </label>
        <label>
          <input type="checkbox" formControlName="service" />
          <span>Внедрение</span>
        </label>
        <label>
          <input type="checkbox" formControlName="service" />
          <span>Проектирование</span>
        </label>
        <label>
          <input type="checkbox" formControlName="service" />
          <span>Миграция</span>
        </label>
        <label>
          <input type="checkbox" formControlName="service" />
          <span>Другое</span>
        </label>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="contactForm.invalid"
      class="contact-form-button"
      [ngClass]="{ 'btn-disabled': !contactForm.valid }"
    >
      Отправить
    </button>
  </form>
</div>
