<div class="contacts__wrapper">
  <div class="contacts">
    <div class="contacts__title">Будем на связи с Вашим бизнесом!</div>
    <div class="contacts__subtitle">
      Свяжитесь с нами в любое удобное для Вас время
    </div>
    <div class="input__wrapper">
      <div class="contacts__input-title">E-mail</div>
      <div class="contacts__inputs-content">
        <a href="mailto:support@bitsis.ru" class="inputs__content-link"
          >support@bitsis.ru</a
        >
      </div>
    </div>
    <div class="input__wrapper">
      <div class="contacts__input-title">Телефон</div>
      <div class="contacts__inputs-content">
        <a href="tel:+74952877778" class="inputs__content-link">{{
          phoneNumber
        }}</a>
      </div>
    </div>
    <div class="input__wrapper">
      <div class="contacts__input-title">Social Media</div>
      <div class="contacts__inputs-content">
        <div class="social__media-wrapper">
          <div class="social__media-icon"></div>
        </div>
      </div>
    </div>
  </div>
</div>
