<div class="contacts__wrapper">
    <div class="contacts">
        <div class="contacts__title">
            Будем на связи с Вашим бизнесом!
        </div>
        <div class="contacts__subtitle">Свяжитесь с нами в любое удобное для Вас время</div>
        <div class="input__wrapper">
            <div class="contacts__input-title">E-mail</div>
            <div class="contacts__inputs-content"><a href="mailto:" class="inputs__content-link">email</a></div>
        </div>
        <div class="input__wrapper">
            <div class="contacts__input-title">Телефон</div>
            <div class="contacts__inputs-content"><a href="tel:+7" class="inputs__content-link">+7 901 233 5036</a>
            </div>
        </div>
        <div class="input__wrapper">
            <div class="contacts__input-title">Social Media</div>
            <div class="contacts__inputs-content">
                <div class="social__media-wrapper">
                    <div class="social__media-icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>